/*--------------------------------------------------------------
Body of main page and context of display
--------------------------------------------------------------*/
.container {
    width: 100vw;
}

.main-div {
    background-color: #EEE;
}

.div-100vw {
    width: 100vw;
}

.form-btn {
    margin: 0.2vw;
}

/*--------------------------------------------------------------
Nav and footer
--------------------------------------------------------------*/
nav, h5 {
    font-family: 'Rock Salt', cursive;
}

nav, footer {
    padding: 5px;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #5F9EA0;
    opacity: 0.8;
    z-index: 5;
}

footer {
    background-color: #5F9EA0;
    opacity: 0.8;
    text-align: center;
}

footer p {
    text-align: center;
}

.home-picture {
    width: 100vw;
    z-index: -1;
    position: fixed;
    top: 0;
}

.carousel-container {
    margin-top: 800px;
    background-color: #5F9EA0;
}

.content-container {
    width: 100vw;
    background-color: #EEE;
}

li {
    list-style: none;
}

@media (max-width: 700px) {
    nav, .home-picture {
        position: static;
    }
    .carousel-container {
        margin-top: 0;
        width: auto;
    }
    .nav-btn {
        width: 30vw;
        display: inline-block;
        text-align: left;
    }

    .nav-btn>h6 {
        font-size: 8px;
    }
}

/*--------------------------------------------------------------
Schedules table
--------------------------------------------------------------*/
tbody td, thead th, h5 {
    text-align: center;
}

td {
    letter-spacing: 1px;
    padding: 10px;
}

th {
    letter-spacing: 2px;
    padding: 20px;
}

tfoot th {
    text-align: right;
}

.text-left {
    text-align: left;
}

@media (max-width: 700px) {
    td, th, h5 {
        font-size: 4vw;
        padding: 1vw;
    }
}

/*--------------------------------------------------------------
Main pages Images on menu
--------------------------------------------------------------*/
.btn-menu {
    align-items: center;
    border: none;
    margin: auto;
    padding: 0.3vw;
    width: 80%;
    border-radius: 5px;
    background-color: #EEE;
}
.pic-menu {
    margin: auto;
    vertical-align: center;
    width: 100%;
    border: 3px solid #403F3E;
    border-radius: 8px;
    height: 25vh;
}

.menus {
    margin: auto;
    vertical-align: center;
    padding: 0.5vw;
}

/*--------------------------------------------------------------
Modal
--------------------------------------------------------------*/
.modal-content {
    background-color: #583408;
    color: #818080;
}

.modal-body table {
    border: 3px solid #818080;
    border-collapse: collapse;
    table-layout: fixed;
}

.modal-title {
    color: #ffffff;
    text-align: center;
}

#reg-modal-btn {
    background-color: #583408;
    color: #ffffff;
    border: none;
}

/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
form {
    font-family: "DejaVu Serif", serif;
}

label {
    padding-top: 1vw;
}

select #note-select {
    width: 5vw;
}

.card {
    background-color: #F0F8FF;
    min-height: inherit;
    padding: 0.5vw;
    margin: 0.5vw;
    position: relative;

}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.carousel {
    padding: 10px;
}

.hover {
    align-items: center;
    display: inline-block;
    float: none;
    margin: auto;
    padding: 10px;
    width: 28%;
    opacity: 0;
}
.gallery-img {
    max-width: 100%;
    padding: 12px;
}

.carousel-item:hover .hover {
    background-color: #818080;
    opacity: 1;
}

.carousel-img {
    border-radius: 10px;
}

/*--------------------------------------------------------------
# MenusPage
--------------------------------------------------------------*/
#scd-container {
    margin-top: 100px;
}

.menus {
    margin-top: 15px;

    display: inline-block;
}
.subTitle {
    border-bottom: #818080 double 4px;
    margin-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}
.head-menus {
    border-bottom: #818080 solid 4px;

}
.content {
    color: #818080;
}

.menus-card {
    background-color: #F0F8FF;
}

.btn-menuPage {
    align-items: center;
    border: none;
    margin: auto;
    padding: 0.3vw;
    width: 30%;
    border-radius: 5px;
    background-color: #ffffff;
}

.booking-btn {
    width: 20vw;
    height: 5vw;
    position: fixed;
    top: 8vw;
    right: 1vw;
}

#menus {
    margin-top: 80px;
}

#category {
    margin-bottom: 30px;
}
@media (max-width: 700px) {
    .booking-btn {
        width: 22vw;
        height: 10vh;
        top: unset;
        bottom: 1vw;
        text-align: center;
        align-items: center;
        z-index: 1;
    }

    .btn-menuPage {
        width: 80%;
    }

    #scd-container {
        margin-top: 0;
    }
}

/*--------------------------------------------------------------
# AdminMenusPage
--------------------------------------------------------------*/
#scd-admin-container {
    margin-top: 80px;
    background-color: #F8F8FF;
}

.btn-adminHeader {
    width: 3vw;
}

@media (max-width: 700px) {
    #scd-admin-container {
        margin-top: 0;
    }
}

/*--------------------------------------------------------------
# AdminGuestsPage
--------------------------------------------------------------*/
.resultGuestSearch {
    border-bottom: 2px solid #5F9EA0;
    padding-bottom: 0;
}

#blacklist {
    margin-top: 22px;
}

.guestCardForm-svg {
    width: 2vw;
}

.guestCardForm-btn {
    width: 4vw;
}

.adminSection {
    position: relative;
    margin: 0.2vw;
    padding: 0.5vw;
    border: 2px solid #5F9EA0;
    border-radius: 5px;
}

table {
    width: 100%;
}

thead {
    height: 1vh;
    background-color: #DCDCDC;
}

.backColor {
    background-color: #CCE7E8;
}

.VIP {
    color: darkred;
    font-weight: bold;
}

.pastDate {
    background-color: #E4E4E4;
}

.pagination{
    position: absolute;
    bottom: 0;
}

.selectedPage {
    background-color: #5F9EA0;
}

#reservationGuestTable>tr {
    height: 48px;
}